MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=pokeplay2
SESSION_TTL_DAYS=30
MONGO_POOL_MAX=80
MONGO_POOL_MIN=10
BACKUP_ENABLED=true
BACKUP_CHAT_ID=-1003781788211
BACKUP_INTERVAL_MS=3600000
BACKUP_RUN_ON_START=false
BOT_TOKEN=5940934309:AAFs9Cewbeg5oe8hWhKercl65-xZ2rLdrkc

